/* VARIABLE DEFINITIONS*/
* {
    -fx-my-menu-color: #FFFFFF;                  
    -fx-main-color:  #24cc64;
    -fx-main-darker:  rgba(26, 154, 70);
    -fx-my-menu-font-color: #000000;             
    -fx-my-menu-font-color-highlighted: #FFFFFF; 
}

.tree-table-view{
    -fx-tree-table-color: -fx-main-color;
    -fx-tree-table-rippler-color : rgba(26, 154, 70, 0.8);
}
.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color  ;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}

.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill : #949494;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{ 
    -fx-background-color : #949494;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color:#F3F3F3;
}

.tree-table-view .tree-table-cell{
    -fx-border-width:0 0 0 0;
    -fx-padding : 16 0 16 16 ;
}

.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.tree-table-row-cell .jfx-text-field{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-focus-color: rgba(0, 0, 0, 0);
    -fx-line-color: rgba(0,0,0,0);
}

.tree-table-row-cell .input-line{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.tree-table-row-cell .input-line{
    -fx-background-color: rgba(0, 0, 0, 0);
}

.text-field {
    -fx-prompt-text-fill: gray;
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-main-color;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-main-color;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}

.jfx-spinner .arc {
    -fx-stroke:  -fx-main-color;
}

.jfx-check-box {
     -jfx-checked-color: -fx-main-color;
     -jfx-unchecked-color: #949494;
}

.jfx-button {
     -jfx-button-type: FLAT;
     -fx-background-color: -fx-main-color;
     -fx-text-fill: white;
}

.jfx-text-field {
    -jfx-focus-color: -fx-main-color;
    -fx-background-color: #eeeeee;
}

.tree-table-view:focused .tree-table-row-cell:selected .jfx-check-box{
     -jfx-checked-color: -fx-main-color;
     -jfx-unchecked-color: #f3f3f3;
}

.tree-table-view:focused .tree-table-row-cell:selected .jfx-text-field{
     -fx-text-fill: white;
}

.jfx-text-area {
    -fx-background-color: #eeeeee;
}

.accepted-row .text{
    -fx-fill: -fx-main-darker;
}

.accepted-row-field{
    -fx-text-fill: -fx-main-darker;
}

.row-field{
    -fx-padding: 0 20 0 0;
}

.accepted-row-selected .text{
    -fx-fill: white;
}

.basionym-row{
    -fx-font-weight: bold;
}